body, html {
    height: 100%;
}

.alerts-container{
    position:fixed;
    z-index: 1000;
}

/* navigation bar */

#user > a {
    padding: 0;
}

#user > .dropdown-menu > .dropdown-item > div {
    display: inline-block;
    vertical-align: middle;
}

.user-image-nav, .user-image-full {
    background-color: grey;
}

.user-image-nav{
    width:42px;
    height:42px;
}

.user-image-full{
    width:70px;
    height:70px;
    margin-right:.5rem;
}

.navbar-nav .dropdown-menu{
    position:absolute;
}

/* menu view */

#roomid {
    margin-bottom: 3%;
}

/* create view */

.custom-checkbox{
    cursor:pointer;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

/* room view */

.member-card {
    padding: 1%;
    margin: 0 0 5% 0;
    cursor: pointer;
}

.member-card img {
    margin-top: 7%;
}

.answer {
    margin-bottom: 2%;
    pointer-events: none;
}

.room-button{
    margin-bottom: 2%;
}

/* questions view */

.btn-delete{
    float:right;
    cursor:pointer;
}

/* pad view */

.pad-cell {
    cursor: pointer;
}